.App {
  text-align: center;
  background-color:#000;
  display:block;
  animation:appear 1s;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity:100;}
}

a {
  color:#fff;
}

.sidebar {
  height:200px;
  display:block;
  width:100vw;
}

body {
  background-color:#000;
  display:block;
}

.grid {
  display:grid;
  grid-template-columns: auto auto;

}

.grid-item {
  display:block;
  margin:auto;
  max-width:50%;
  color:#fff;
}

.hamish {
  min-width: 80%;
}

.App-link {
  color: #ffffff;
}

.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  height:300px;
}


